/* Style the page title */
#page-title {
    font-family: $header-font;
    color: $body-background-color;
    /*
    font-size: 4em;
    */
}


header {
    background-color: $header-color;
    /*
    width: 100%;
    */
    padding: .5em;
   
  }