/* Style the page title */
#page-title {
    font-family: $header-font;
    //color: $body-background-color;
    color: white;
    /*
    font-size: 4em;
    */
}


header {
    //background-color: $header-color;
    background-color: $speech-bubble-color;
    /*
    width: 100%;
    */
    padding: .5em;
   
  }