/* Style the button container */
#user-responses-div{
    margin-top: -80px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
  }